name: Build source1import.exe

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Setup Python 3.11
        uses: actions/setup-python@v4.2.0
        with:
          python-version: 3.11.0

      - name: Setup Dependencies
        run: pip install -r requirements.txt

      - name: Setup PyInstaller
        run: pip install -U pyinstaller

      - name: Build with PyInstaller
        run: ./build.bat

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          # Artifact name
          name: source1import (latest)
          # A file, directory or wildcard pattern that describes what to upload
          path: source1import.exe
