name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  unit-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Python 3.101
        uses: actions/setup-python@v4.2.0
        with:
          python-version: 3.11

      # Runs a single command using the runners shell
      - name: Dependencies
        run: pip install -r requirements.txt

      # Runs a set of commands using the runners shell
      - name: Test units
        run: |
          echo "" > gameinfo.txt
          python utils/shared/base_utils2.py -i "$PWD" -e "$PWD"
          python utils/shared/cstr.py
          python utils/shared/cppkeyvalues.py
          python utils/shared/material_proxies.py
          python utils/shared/qc.py

      - name: Check imported files for changes
        run: |
          python sample/results_update.py
          git diff --exit-code --submodule=diff HEAD $REF -- sample

